// ーーーヘッダーーーーーーー

.header {
	width: 100%;
	background-color: #fff;
	height: 96px;
	position: fixed;
	top: 0;
	z-index: 10;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 25px 35px;
	&__logo {
		width: 165px;
	}
	&__nav {
		padding-left: 20px;
	}
	&__list {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.list {
		&__item {
			font-size: 16px;
			margin-right: 35px;
			&--recruit {
				background: #1387d6;
				color: #fff;
				padding: 14px 24px;
				border-radius: 3px;
				font-size: 16px;
				line-height: 23px;
				display: flex;
				justify-content: center;
				align-items: center;
			}
			&--tel {
				display: flex;
				justify-content: space-between;
				align-items: center;
			}
		}
		.item {
			&__icon {
				margin-right: 6.97px;
			}
			&__tel {
				width: 109px;
				height: 50px;
				background: #eef8ff;
				padding: 16px 24px;
				border-radius: 3px;
				font-size: 11px;
				font-weight: 500;
				display: flex;
				justify-content: center;
				align-items: center;
				margin-right: 12px;
			}
			&__number {
				font-weight: 500;
				font-size: 16px;
				line-height: 125%;
				&--blue {
					color: #1387d6;
				}
				&--green {
					color: #82c810;
				}
			}
		}
	}
}
// スマホ版
.header {
	@include mq(sp) {
		display: none;
	} //pcheaderのときの幅でスマホheaderいりません
}
.sp__header {
	display: none;
	//pc幅の時スマホheader入りません
	@include mq(sp) {
		display: flex;
		align-items: center;
	}
	.sp__header--logo {
		height: 18px;
		// 適応されていない
	}
	.header__right {
		display: flex;
		margin: 0 0 0 auto;
		.sp__header--recruit {
			width: 60px;
			height: 60px;
			background: #1387d6;
			color: #fff;
			font-family: "Noto Sans JP";
			font-style: normal;
			font-weight: 500;
			font-size: 9px;
			line-height: 9px;
			display: flex;
			flex-direction: column;
			align-items: center;
			text-align: center;
			letter-spacing: 0.02em;
			padding: 15px 4px 6px 4px;
			.sp__item__icon {
				text-align: center;
				margin-bottom: 4px;
			}
		}
		.openbtn1 {
			position: relative;

			background: #12bef4;
			color: #fff;
			cursor: pointer;
			width: 60px;
			height: 60px;
			z-index: 999;
			p {
				font-weight: 500;
				font-size: 9px;
				text-align: center;
				position: absolute;
				bottom: 10px;
				width: 100%;
			}
			// メニューが見えている
			.menu-btn {
				display: block;
			}
			.menu-close {
				display: none;
			}
			span {
				display: inline-block;
				background: #fff;
				width: 45%;
				height: 3px;
				position: absolute;
				left: 14px;
				border-radius: 2px;
				transition: all 0.4s;
				&:nth-of-type(1) {
					top: 15px;
				}
				&:nth-of-type(2) {
					top: 23px;
				}
				&:nth-of-type(3) {
					top: 31px;
				}
			}
			.menu {
				color: #fff;
				font-size: 9px;
				position: absolute;
				bottom: 10px;
				right: 12px;
			}
			&.active {
				.menu-close {
					display: block;
				}
				@include mq(sp) {
					.menu-btn {
						display: none;
						.sp__header--menu {
							width: 100%;
							height: calc(100% - 60px);
							padding: 13.333vw;
							flex-wrap: wrap;
							background-color: #12bef4;
							text-align: center;
							transition: 0.3s ease-in-out;
							display: none;

							.sp__nav {
								width: 100%;
								margin: 0 auto;
								flex-wrap: wrap;
								.sp__nav--list {
									.item {
										margin-bottom: 35px;
										color: #fff;
										font-size: 18px;
										font-weight: 700;
									}
									.recruit--info {
										height: 13.333vw;
										background-color: #fff;
										color: #12bef4;
										display: flex;
										justify-content: center;
										align-items: center;
										letter-spacing: -0.015em;
										font-family: "Noto Sans JP";
										font-style: normal;
										font-weight: 700;
										border-radius: 6px;
									}
									.contact {
										display: block;

										margin-top: 50px;
										.sp__text {
											font-size: 14px;
										}
										.tel {
											height: 30px;
											background: #ffffff;
											border-radius: 6px;
											font-size: 24px;
											color: #12bef4;
											font-weight: 700;
											margin: 15px 0 10px 0;
											font-size: 15px;
											padding: 7px;
										}
										.sp__tel1 {
											font-family: "Noto Sans JP";
											font-style: normal;
											font-weight: 700;
											font-size: 18px;
											line-height: 28px;
											align-items: center;
											letter-spacing: 0.085em;
										}
										.sp__tel2 {
											font-family: "Noto Sans JP";
											font-style: normal;
											font-weight: 700;
											font-size: 18px;
											line-height: 28px;
											align-items: center;
											letter-spacing: 0.085em;
										}
										.sp__time {
											font-family: "Noto Sans JP";
											font-style: normal;
											font-weight: 500;
											font-size: 14px;
											line-height: 30px;
											text-align: center;
											letter-spacing: 0.055em;
											padding: 10px;
										}
									}
								}
							}
						}
					}
				} //pcheaderのときの幅でスマホheaderいりません

				& > span {
					@include mq(sp) {
						&:nth-of-type(1) {
							top: 18px;
							left: 18px;
							transform: translateY(6px) rotate(-45deg);
							width: 30%;
						}
						&:nth-of-type(2) {
							opacity: 0;
						}
						&:nth-of-type(3) {
							top: 30px;
							left: 18px;
							transform: translateY(-6px) rotate(45deg);
							width: 30%;
						}
					}
				}
			}
		}
	}
}

// メニュー押した時に表示させたいところ
.sp__header--menu {
	width: 100%;
	height: calc(100% - 60px);
	padding: 13.333vw;
	flex-wrap: wrap;
	background-color: #12bef4;
	text-align: center;
	transition: 0.3s ease-in-out;
	display: none;

	.sp__nav {
		width: 100%;
		margin: 0 auto;
		flex-wrap: wrap;
		.sp__nav--list {
			.item {
				margin-bottom: 35px;
				color: #fff;
				font-size: 18px;
				font-weight: 700;
			}
			.recruit--info {
				height: 13.333vw;
				background-color: #fff;
				color: #12bef4;
				display: flex;
				justify-content: center;
				align-items: center;
				letter-spacing: -0.015em;
				font-family: "Noto Sans JP";
				font-style: normal;
				font-weight: 700;
				border-radius: 6px;
			}
			.contact {
				display: block;

				margin-top: 50px;
				.sp__text {
					font-size: 14px;
				}
				.tel {
					height: 30px;
					background: #ffffff;
					border-radius: 6px;
					font-size: 24px;
					color: #12bef4;
					font-weight: 700;
					margin: 15px 0 10px 0;
					font-size: 15px;
					padding: 7px;
				}
				.sp__tel1 {
					font-family: "Noto Sans JP";
					font-style: normal;
					font-weight: 700;
					font-size: 18px;
					line-height: 28px;
					align-items: center;
					letter-spacing: 0.085em;
				}
				.sp__tel2 {
					font-family: "Noto Sans JP";
					font-style: normal;
					font-weight: 700;
					font-size: 18px;
					line-height: 28px;
					align-items: center;
					letter-spacing: 0.085em;
				}
				.sp__time {
					font-family: "Noto Sans JP";
					font-style: normal;
					font-weight: 500;
					font-size: 14px;
					line-height: 30px;
					text-align: center;
					letter-spacing: 0.055em;
					padding: 10px;
				}
			}
		}
	}
}
