.main
    width: 100%


    &__img
        background-image: url(../img/bg.png)
        background-position: center
        background-size: cover
        width: 1440px
        height: 928px

    .top__container
        // position: absolute
        // top: 50%
        // left: 50%
        // transform: translate(-50%, -50%)

        height: 100%
        display: flex
        flex-direction: column
        justify-content: center
        text-align: center
        align-items: center

        .text
            width: 1100px
            height: 518px
            background: rgba(255, 255, 255, 0.85)
            border-radius: 10px
    .catchcopy
        // position: absolute
        &__title
            font-size: 50px
            color: #1387D6
            border-bottom: 4px dotted #1387D6
            font-weight: bold
            margin-bottom: 35px
            padding: 30px
            .child
                width: 100%
        &__text
            line-height: 180%
            /* or 61px */
            display: flex
            align-items: center
            text-align: center
            letter-spacing: 0.02em
            color: #1387D6
            font-size: 34px
            font-weight: bold
            margin-left: 20%
    .content-container
        width: 1100px
        margin: 10% auto
        display: flex
        justify-content: center
        align-items: center
        flex-direction: column
        &__title
            display: flex
            flex-direction: column
            .sub
                display: flex
                // display: inline-block  要素に応じてラインの長さを変えたい
                // border-bottom: 4px solid #1387D6
                justify-content: center
                color: #1387D6
                font-size: 20px
                line-height: 100%
                letter-spacing: 0.05em
                margin-bottom: 23px
            .border
                border: 4.5px solid #1387D6
                width: 55.5px
                margin: 0 auto
            .heading
                font-weight: 700
                font-size: 32px
                line-height: 100%
                /* identical to box height, or 32px */
                letter-spacing: 0.05em
                color: #333333
                margin: 23px 0 40px 0
                text-align: center
                .part
                    color: #12BEF4
        .new
            display: flex
            .img
                width: 510px
                height: 510px
                background-color: green
                margin: 20px auto
        &__outer
            display: flex
            justify-content: space-between
            .box1
                width: 526px
                .box-img
                    width: 514px
                    height: 230px
                .box-title
                    font-weight: 700
                    font-size: 18px
                    line-height: 26px
                    letter-spacing: 0.0075em
                    color: #333333
                    margin: 21px 10px 0 0
                .box-text
                    font-size: 16px
                    line-height: 30px
                    /* or 188% */
                    letter-spacing: 0.0075em
                .button
                    background: #12BEF4
                    border-radius: 6px
                    width: 515px
                    height: 80px
                    display: flex
                    align-items: center
                    justify-content: center
                    .button-text
                        width:428px
                        height: 45px
                        color: #FFFFFF
                        font-size: 22px
                        line-height: 32px
                        display: flex
                        align-items: center
                        text-align: center
            .box2
                width: 526px
                margin: 0 0 0 65px
                .box-img
                    width: 514px
                    height: 230px
                .box-title
                    font-weight: 700
                    font-size: 18px
                    line-height: 26px
                    letter-spacing: 0.0075em
                    color: #333333
                    margin: 21px 10px 0 0
                .box-text
                    font-size: 16px
                    line-height: 30px
                    /* or 188% */
                    letter-spacing: 0.0075em
                .button
                    background: #82C810
                    border-radius: 6px
                    width: 515px
                    height: 80px
                    display: flex
                    align-items: center
                    justify-content: center
                    .button-text
                        width:428px
                        height: 45px
                        color: #FFFFFF
                        font-size: 22px
                        line-height: 32px
                        display: flex
                        align-items: center
                        text-align: center
    .day-detail
        width: 1103px
        height: 286px
        background: rgba(19, 135, 214, 0.05)
        border: 3px solid #1387D6
        border-radius: 6px
        margin: 0 auto
        &__title
            font-size: 30px
            line-height: 34px
            /* identical to box height, or 113% */
            color: #1387D6
            text-align: center
            margin: 60px 0 30px 0
        &__text
            font-size: 18px
            line-height: 190%
            margin: 0 60px 60px 60px
    .bg-color-skybule
        width: 100%
        height: 985px
        background-color: #F7FCFF
        margin-top: 15%
        padding-top: 120px
        table
            border-radius: 6px
            margin: 0 auto
            border: none
            overflow: hidden
            thead
                tr
                    th
                        border-left: 1px solid #fff
                        &:first-child
                            border-left: none
            tbody
                tr
                    td
                        border-left: 1px solid #1387D6
                        border-top: 1px solid #1387D6
                        background: #fff
                        &:last-child
                            border-right: 1px solid #1387D6

                    &:last-child
                        td
                            border-bottom: 1px solid #1387D6
                            &:first-child
                                border-radius: 0 0 0 6px
                            &:last-child
                                border-radius: 0 0 6px 0
        table
            border-radius: 6px
            margin: 0 auto
            tbody > td
                border-left: 1px solid #1387D6
                border-top: 1px solid #1387D6

            .table__item
                vertical-align: middle
            tr
                text-align: center
                th, td
                    padding: 17px
                    // border: 1px solid #1387D6
                th
                    background: #1387D6
                    color: #fff
                    // border: 1px solid #fff
            // .table__last
            //     td:nth-child(2)
            //         border-right: none

        .memo
            font-family: 'Noto Sans JP'
            font-style: normal
            font-weight: 400
            font-size: 16px
            line-height: 16px
            display: flex
            align-items: center
            letter-spacing: 0.055em
            color: rgba(51, 51, 51, 0.8)
            margin: 19px 0 60px 170px
        .caption
            padding-left: 170px
            margin-bottom: 25px
            .caption-other
                width: 1100px
                height: 110px
                line-height: 190%
                padding: 25px 35px
                margin-top: 25px
                background: #FFFFFF
                border-radius: 6px
                color: rgba(51, 51, 51, 0.8)
    // ------------------------------
.column
    display: flex
    justify-content: space-between
    width: 1100px
    height: 465px
    .column-item

        &.address
            width: calc((100% - 60px)/2)
            .ao
                display: flex

                .ao-item-left
                    color: #1387D6
                    font-family: 'Noto Sans JP'
                    font-style: normal
                    font-weight: 500
                    font-size: 16px
                    line-height: 300%
                    width: 40%
                .ao-item-right
                    font-family: 'Noto Sans JP'
                    font-style: normal
                    font-weight: 400
                    font-size: 16px
                    line-height: 300%
                    width: 60%

            .button
                background: #12BEF4
                border-radius: 6px
                width: 515px
                height: 80px
                display: flex
                align-items: center
                justify-content: center
                .button-text
                    width:428px
                    height: 45px
                    color: #FFFFFF
                    font-size: 22px
                    line-height: 32px
                    display: flex
                    align-items: center
                    text-align: center
.bg-color-skyblue
    width: 1100px
    height: 211px
    background: #EEF8FF
    border-radius: 6px
    margin: 0 auto
    .bg-img
        background-image: url(img/flower.png)
        padding: 20px
        text-align: center
            // 下のボタンが適用されない
                .button
                    background: #82C810
                    border-radius: 6px
                    width: 515px
                    height: 80px
                    display: flex
                    align-items: center
                    justify-content: center
                    .button-text
                        width:428px
                        height: 45px
                        color: #FFFFFF
                        font-size: 22px
                        line-height: 32px
                        display: flex
                        align-items: center
                        text-align: center
.bg-color-mosgreen
    width: 1100px
    height: 211px
    background: #F8FBF4
    border-radius: 6px
    margin: 160px auto
    .bg-img
        padding: 20px
        text-align: center
        // ここも効かない
.privacy
    width: 1100px
    margin: 160px
    margin: 0 auto
    padding: 50px
    border: 2px solid #1387D6
    border-radius: 6px
    .privacy__heading
        font-family: 'Noto Sans JP'
        font-style: normal
        font-weight: 700
        font-size: 30px
        line-height: 100%
        display: flex
        align-items: center
        text-align: center
        letter-spacing: 0.05em
        border-bottom: 1px solid #1387D6
        padding-bottom: 25px
        margin-bottom: 30px
    .privacy__text--nav
        .privacy__text--ul
            .privacy__text--list
                font-family: 'Noto Sans JP'
                font-style: normal
                font-weight: 400
                font-size: 16px
                line-height: 30px
                letter-spacing: -0.015em






