.main {
	width: 100%;

	&__img {
		background-image: url(../img/bg.png);
		background-position: center;
		background-size: cover;
		height: 928px;
		@include mq(sp) {
			width: 100%;
			height: 338px;
		}
	}
	.top__container {
		@include wrapper;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
		align-items: center;
		@include mq(sp) {
			width: 90%;
		}
		.text {
			width: 1100px;
			height: 518px;
			background: rgba(255, 255, 255, 0.85);
			border-radius: 10px;
			@include mq(sp) {
				width: 100%;
				margin: 9.333333333333334vw 0;
			}
		}
	}
	.catchcopy {
		// position: absolute
		&__title {
			font-size: 50px;
			color: #1387d6;
			border-bottom: 4px dotted #1387d6;
			font-weight: bold;
			margin-bottom: 35px;
			padding: 30px;
			@include mq(sp) {
				width: 100%;
				font-size: 6.4vw;
				margin-bottom: 5.42%;
			}
			.child {
				width: 100%;
			}
		}
		&__text {
			line-height: 180%;
			display: flex;
			align-items: center;
			text-align: center;
			letter-spacing: 0.02em;
			color: #1387d6;
			font-size: 34px;
			font-weight: bold;
			margin-left: 20%;
			@include mq(sp) {
				line-height: 180%;
				text-align: center;
				letter-spacing: 0.02em;
				color: #1387d6;
				font-weight: bold;
				font-size: 3.733333333333334vw;
				// margin: 0 auto;
				justify-content: center;
				margin: 0 auto;
				line-height: 190%;
			}
		}
	}
	.content-container {
		width: 1100px;
		margin: 10% auto;
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		@include mq(sp) {
			width: 100%;
		}
		&__title {
			display: flex;
			flex-direction: column;
			@include mq(sp) {
				width: 100%;
				margin-bottom: 7%;
			}
			// 画像がスマホ対応にならないなぜ・・後で調べる
			.image-child {
				.child {
					@include mq(sp) {
						width: 100%;
					}
				}
			}

			.sub {
				display: flex;
				// border-bottom: 4px solid #1387D6
				justify-content: center;
				color: #1387d6;
				font-size: 20px;
				line-height: 100%;
				letter-spacing: 0.05em;
				margin-bottom: 23px;
				@include mq(sp) {
					font-size: 3.733333333333334vw;
					margin-bottom: 2.6%;
					font-weight: 700;
				}
			}
			.border {
				border: 4.5px solid #1387d6;
				width: 55.5px;
				margin: 0 auto;
				@include mq(sp) {
					wdith: 14.799999999999999vw;
					border: 0.6399999999999999vw solid #1387d6;
				}
			}
			.heading {
				font-weight: 700;
				font-size: 32px;
				line-height: 100%;
				letter-spacing: 0.05em;
				color: #333333;
				margin: 23px 0 40px 0;
				text-align: center;
				@include mq(sp) {
					font-size: 5.333333333333334vw;
					margin: 2.596% 0 0 0;
				}
				.part {
					color: #12bef4;
					@include mq(sp) {
					}
				}
			}
		}
		.new {
			display: flex;
			@include mq(sp) {
				width: 90%;
				flex-wrap: wrap;
			}
			.img {
				width: 510px;
				height: 510px;
				background-color: green;
				margin: 20px auto;
				@include mq(sp) {
					margin: 6.7% 4.5% 6.2% 4.5%;
				}
			}
		}
		&__outer {
			display: flex;
			justify-content: space-between;
			@include mq(sp) {
				width: 90%;
				flex-wrap: wrap;
			}
			.box1 {
				width: 526px;
				@include mq(sp) {
					width: 90%;
				}
				.box-img {
					width: 514px;
					height: 230px;
					@include mq(sp) {
						width: 90%;
					}
				}
				.box-title {
					font-weight: 700;
					font-size: 18px;
					line-height: 26px;
					letter-spacing: 0.0075em;
					color: #333333;
					margin: 21px 10px 0 0;
					@include mq(sp) {
						width: 90%;
					}
				}
				.box-text {
					font-size: 16px;
					line-height: 30px;
					/* or 188% */
					letter-spacing: 0.0075em;
				}
				.button {
					background: #12bef4;
					border-radius: 6px;
					width: 515px;
					height: 80px;
					display: flex;
					align-items: center;
					justify-content: center;
					@include mq(sp) {
						width: 90%;
					}
					.button-text {
						width: 428px;
						height: 45px;
						color: #ffffff;
						font-size: 22px;
						line-height: 32px;
						display: flex;
						align-items: center;
						text-align: center;
						@include mq(sp) {
							width: 90%;
						}
					}
				}
			}
			.box2 {
				width: 526px;
				margin: 0 0 0 65px;
				.box-img {
					width: 514px;
					height: 230px;
					@include mq(sp) {
						width: 90%;
					}
				}
				.box-title {
					font-weight: 700;
					font-size: 18px;
					line-height: 26px;
					letter-spacing: 0.0075em;
					color: #333333;
					margin: 21px 10px 0 0;
					@include mq(sp) {
						width: 90%;
					}
				}
				.box-text {
					font-size: 16px;
					line-height: 30px;
					/* or 188% */
					letter-spacing: 0.0075em;
					@include mq(sp) {
						width: 90%;
					}
				}
				.button {
					background: #82c810;
					border-radius: 6px;
					width: 515px;
					height: 80px;
					display: flex;
					align-items: center;
					justify-content: center;
					@include mq(sp) {
						width: 90%;
					}
					.button-text {
						width: 428px;
						height: 45px;
						color: #ffffff;
						font-size: 22px;
						line-height: 32px;
						display: flex;
						align-items: center;
						text-align: center;
						@include mq(sp) {
							width: 90%;
						}
					}
				}
			}
		}
	}
	.day-detail {
		width: 1103px;
		height: 286px;
		background: rgba(19, 135, 214, 0.05);
		border: 3px solid #1387d6;
		border-radius: 6px;
		margin: 0 auto;
		@include mq(sp) {
			width: 90%;
			padding: 9.4% 5.5%; /*取った方がうまくいく？いや違う*/
			font-family: "Noto Sans JP";
			font-style: normal;
			font-weight: 700;
			line-height: 20px;
			letter-spacing: 0.0075em;
		}
		&__title {
			font-size: 30px;
			line-height: 34px;
			/* identical to box height, or 113% */
			color: #1387d6;
			text-align: center;
			margin: 60px 0 30px 0;
			@include mq(sp) {
				font-size: 5.333333333333334vw;
				margin: 0 auto;
			}
		}
		&__text {
			font-size: 18px;
			line-height: 190%;
			margin: 0 60px 60px 60px;
			@include mq(sp) {
				font-size: 3.733333333333334vw;
				font-weight: normal;
			}
		}
	}
	.bg-color-skybule {
		width: 100%;
		height: 985px;
		background-color: #f7fcff;
		margin-top: 15%;
		padding-top: 120px;
		table {
			border-radius: 6px;
			margin: 0 auto;
			border: none;
			overflow: hidden;
			thead {
				tr {
					th {
						border-left: 1px solid #fff;
						&:first-child {
							border-left: none;
						}
					}
				}
			}
			tbody {
				tr {
					td {
						border-left: 1px solid #1387d6;
						border-top: 1px solid #1387d6;
						background: #fff;
						&:last-child {
							border-right: 1px solid #1387d6;
						}
					}
					&:last-child {
						td {
							border-bottom: 1px solid #1387d6;
							&:first-child {
								border-radius: 0 0 0 6px;
							}
							&:last-child {
								border-radius: 0 0 6px 0;
							}
						}
					}
				}
			}
		}
	}
	.content-wrapper {
		@include wrapper;
		table {
			border-radius: 6px;
			margin: 0 auto;
			@include mq(sp) {
				width: 100%;
			}
			tbody > td {
				border-left: 1px solid #1387d6;
				border-top: 1px solid #1387d6;
			}
			.table__item {
				vertical-align: middle;
			}
			tr {
				text-align: center;
				th,
				td {
					padding: 17px;
				}
				th {
					background: #1387d6;
					color: #fff;
				}
			}
		}
		.memo {
			font-family: "Noto Sans JP";
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 16px;
			display: flex;
			align-items: center;
			letter-spacing: 0.055em;
			color: rgba(51, 51, 51, 0.8);
			margin: 19px 0 60px;
		}
		.caption {
			margin-bottom: 25px;
			.caption-other {
				width: 1100px;
				height: 110px;
				line-height: 190%;
				padding: 25px 35px;
				margin-top: 25px;
				background: #ffffff;
				border-radius: 6px;
				color: rgba(51, 51, 51, 0.8);
			} // ------------------------------
		}
	}
}
.column {
	display: flex;
	justify-content: space-between;
	width: 1100px;
	height: 465px;
	@include mq(sp) {
		width: 100%;
		flex-wrap: wrap;
	}
	.column-item {
		&.address {
			width: calc((100% - 60px) / 2);

			.ao {
				display: flex;

				.ao-item-left {
					color: #1387d6;
					font-family: "Noto Sans JP";
					font-style: normal;
					font-weight: 500;
					font-size: 16px;
					line-height: 300%;
					width: 40%;
				}
				.ao-item-right {
					font-family: "Noto Sans JP";
					font-style: normal;
					font-weight: 400;
					font-size: 16px;
					line-height: 300%;
					width: 60%;
				}
			}
			.button {
				background: #12bef4;
				border-radius: 6px;
				width: 515px;
				height: 80px;
				display: flex;
				align-items: center;
				justify-content: center;
				&.sui {
					background: #82c810;
				}
				.button-text {
					width: 428px;
					height: 45px;
					color: #ffffff;
					font-size: 22px;
					line-height: 32px;
					display: flex;
					align-items: center;
					text-align: center;
				}
			}
		}
	}
}
.bg-color-skyblue {
	width: 1100px;
	height: 211px;
	background: #eef8ff;
	border-radius: 6px;
	margin: 0 auto;
	@include mq(sp) {
		width: 100%;
	}
	.bg-img {
		background-image: url(../img/flower.png);
		padding: 20px;
		text-align: center;
		@include mq(sp) {
			width: 100%;
		}
		.button {
			&.sui {
				border-radius: 6px;
				width: 515px;
				height: 80px;
				display: flex;
				align-items: center;
				justify-content: center;
				background: #82c810;
			}
			.button-text {
				width: 428px;
				height: 45px;
				color: #ffffff;
				font-size: 22px;
				line-height: 32px;
				display: flex;
				align-items: center;
				text-align: center;
			}
		}
	}
}
.bg-color-mosgreen {
	width: 1100px;
	height: 211px;
	background: #f8fbf4;
	border-radius: 6px;
	margin: 160px auto;
	.bg-img {
		padding: 20px;
		text-align: center;
		@include mq(sp) {
			width: 100%;
		}
	}
}
.privacy {
	width: 1100px;
	margin: 160px;
	margin: 0 auto;
	padding: 50px;
	border: 2px solid #1387d6;
	border-radius: 6px;
	@include mq(sp) {
		width: 100%;
	}
	.privacy__heading {
		font-family: "Noto Sans JP";
		font-style: normal;
		font-weight: 700;
		font-size: 30px;
		line-height: 100%;
		display: flex;
		align-items: center;
		text-align: center;
		letter-spacing: 0.05em;
		border-bottom: 1px solid #1387d6;
		padding-bottom: 25px;
		margin-bottom: 30px;
		@include mq(sp) {
			width: 100%;
			font-size: 5.333333333333334vw;
		}
	}
	.privacy__text--nav {
		.privacy__text--ul {
			.privacy__text--list {
				font-family: "Noto Sans JP";
				font-style: normal;
				font-weight: 400;
				font-size: 16px;
				line-height: 30px;
				letter-spacing: -0.015em;
			}
		}
	}
}
